{% extends "base.html" %}
{% block content %}
<div class="get">
  <div class="am-g">
    <div class="am-u-lg-12">
      <h1 class="get-title">CMS在线识别</h1>
    </div>
	    <div class="am-form-group">
          <form action="/webdna" method="POST">
	      <div class="am-u-sm-5 am-u-sm-offset-3">
	      <input id='search1' type="text" name="search" minchecked="3" class="am-form-field am-round" placeholder="请输入要查询的url地址"/>
	      </div>
		<div class="am-u-sm-1">
	      <button id='search' type="submit" class="am-btn am-btn-primary">查询</button>
	      </div>

		  	  <div class="box">
						</div></form>
	    </div>
  </div>
</div>

<div class="about">
  <div class="am-g am-container">
	<div class="am-g doc-am-g">
    <div class="am-form-group">
{% if data %}
            <table class="am-table am-table-bordered am-table-radius">
    <thead>
        <tr>
            <th>信息</th>
            <th>内容</th>
        </tr>
    </thead>
    <tbody>{% if data.url %}

        <tr>
            <td>查询网址</td>
            <td><code>{{data.url}}</code></td>
        </tr>
        <tr>
            <td>CMS识别</td>
            <td><code>{{data.name}}</code></td>
        </tr>
    <tr>
            <td>MD5匹配值</td>
            <td><code>{{data.md5}}</code></td>
        </tr>
     {% else %}
            <tr>
            <td>匹配失败</td>
            <td><code>{{data.error}}</code></td>
        </tr>
    {% endif %}
    </tbody>
</table>{% endif %}



	  	  <div class="box">
					</div>
    </div>
    </div>
    </div>

    </div>
{% endblock %}
