{% extends "base.html" %}
{% block content %}
<div class="get">
  <div class="am-g">
    <div class="am-u-lg-12">
      <h1 class="get-title">在线社工字典生成</h1>
    </div>
      <h2>利用人性的弱点 精准的分析个人密码</h2>

	    <div class="am-form-group">
	      <div class="am-u-sm-8 am-u-sm-offset-2">
	      <div class="am-g am-container">

          <form class="am-form" action="" method="POST">

<div class="am-input-group am-input-group-primary">
  <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
  <input type="text" id="email" name="englishname" placeholder="英文名称 example:zhang san" style="height:40px;width:350px;"></input type="text">

  <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
  <input type="text" id="email" name="fullname" placeholder="姓名全拼" style="height:40px;width:350px;"></input type="text">
</div>

<br>

<div class="am-input-group am-input-group-primary">
  <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
  <input type="text" name="phone" placeholder="手机号" style="height:40px;width:350px;"></input type="text">

  <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
  <input type="text" name="qq" placeholder="QQ号" style="height:40px;width:350px;"></input type="text">

</div>	<br>

<div class="am-input-group am-input-group-primary">
  <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
  <input type="text" name="birthday" placeholder="出生日期 example:2000-1-10" style="height:40px;width:350px;"></input type="text">

  <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
  <input type="text" name="keynumbers" placeholder="特殊数字 example: 123 789" style="height:40px;width:350px;"></input type="text">

</div>	<br>

<div class="am-input-group am-input-group-primary">
  <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
  <input type="text" name="nickname" placeholder="昵称" style="height:40px;width:350px;"></input type="text">

  <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
  <input type="text" name="partnername" placeholder="伴侣姓名" style="height:40px;width:350px;"></input type="text">
  </div>	<br>

  <div class="am-input-group am-input-group-primary">
  <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
  <input type="text" name="company" placeholder="公司名称" style="height:40px;width:350px;"></input type="text">

  <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
  <input type="text" name="domain" placeholder="域名" style="height:40px;width:350px;"></input type="text">
</div>	<br>

                <div class="am-input-group am-input-group-primary">
  <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
  <input type="text" name="oldpasswd" placeholder="老密码" style="height:40px;width:350px;"></input type="text">

  <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
  <input type="text" name="keywords" placeholder="关键字 example: keyword1 keyword2" style="height:40px;width:350px;"></input type="text">
</div>	<br>
	<div style="text-align: center;">
	<button type="submit" class="am-btn am-btn-primary am-btn-larg"><i class="am-icon-check"></i> 提 交</button>
	</div>

          </form>
        </div>
	      </div>

		  	  <div class="box">
						</div>
	    </div>
  </div>
</div>

<div class="about">
  <div class="am-g am-container">
	<div class="am-g doc-am-g">
    <div class="am-form-group">
        {% if data %}
            <table class="am-table am-table-bordered am-table-radius">
    <thead>
        <tr>
            <th>生成的密码</th>
        </tr>
    </thead>
    <tbody>
        {%for pass in data %}
            <tr>
            <td>{{pass}}</td>
        </tr>
        {%endfor%}

    </tbody>
</table>
        {% endif %}


	  	  <div class="box">
					</div>
    </div>
    </div>
    </div>

    </div>
{% endblock %}
